/* Reset Code */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
/* End Reset Code */

html {
 /* This should help with bottoming out. */
 height: 100%;
}

body {
 font-family: Helvetica,Verdana,Arial,sans-serif; 
 font-size: 10pt;
/* background: url('image_files/flashlight_overview_banner.png') repeat-y 0 1.67em; 
 background-color: #E6DDD5; */
}


h1 {
 font-size: 14pt;
 margin: 4px 0px;
}

h2 {
 font-size: 12pt;
 margin: 4px 0px;
 text-align: center;
}

h3 {
 font-size: 11pt;
 text-align: center;
 margin: 4px 0px;
}

table {
 border-spacing: 0;
 border-bottom: 1px solid #D3D3D3;
 border-top: 1px solid #D3D3D3;
}

thead tr {
 background-color: #7096B3;
 color: white;
 text-align: left;
}

thead th {
 border-collapse: collapse;
 font-size: 11pt;
}

tbody td {
 border-collapse: collapse;
 border-left: 1px solid #D3D3D3;
 border-right: 1px solid #D3D3D3;
 empty-cells: show;
}

th,td {
 padding: 2px 5px;
}

ul {
    padding-left: 10px;
}

.info {
 font-style: italic;
 color: graytext;  
 text-indent: 3em;
}

#header {
/* margin-left: 100px; 
 padding-left: 4px;*/
}

#bar {
 float: left;
 width: 100px;
 height: 100%;
}

#bar h2:hover {
 background-color: green;
}

#bar a.selected h2{
 background-color: red;
}


#bar h2 {
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
}

#content {
 float: left;
 border-left: 1px solid lightGrey;
 padding-left: 5px;
 height: 100%;
}

#main {
/*  border-top: 1px solid #D4AA00; */
  min-width: 900px;
}

#deadlock-widget {
    position:relative;
    width:500px;
    height:300px;
    margin:auto;
    overflow:hidden;
    background: black;
}

#tl {
	border: 1px solid #aaa;
	margin: 0.33em 0px;
}

#deadlock-list li {
   display: inline;
   color: #005596;
   cursor: pointer;
   text-decoration: underline;
   margin-right: 10px;
}


.clear {
   clear: both;
}

#deadlock-threads {
  vertical-align: middle;
}

.deadlockThread {
   cursor: pointer;
}

.deadlockThread:hover {
   background-color: blue;
   color: white;
}

.emph {
   font-weight: bold;
}


.outline ul { 
   list-style-type: none;
}

.outline .icon {
    display: inline;
    
}

.outline li {
   list-style-image: none;
   margin-left: 10px;
   vertical-align: middle;
}

ul.sectionList {
   border-bottom: 1px solid black; 
}

.sectionList li {
   display: inline-block;
   margin-right: 10px;
   margin-top: 4px;
   border-left: 1px solid black;
   border-right: 1px solid black;
   border-top: 1px solid black;
   padding-left: 2px;
   padding-right: 2px;
   padding-top: 1px;
}

.sectionList li.selected {
   background-color: #deb887;
}

.sectionList li a {
   text-decoration: none;
   font-size: 12pt;
   font-weight: bold;
}