body {
 font-family: sans-serif; font-size: 9pt;
}

h4,h5 {
 margin-top: 0px;
 margin-bottom: 0px;
}

#bar {
 float: left;
 width: 100px;
}

#bar h2 {
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
}

#content {
 float: left;
 border-left: 1px solid lightGrey;
 padding-left: 5px;
}

#main {
 border-top: 1px solid lightGrey;
}

#deadlock-widget, #packages, #packages1, #packages2, #packages3 {
    position:relative;
    width:600px;
    height:600px;
    margin:auto;
    overflow:hidden;
    background: black;
}

#tl {
	height: 300px; 
	border: 1px solid #aaa;	
}

ul {
    padding-left: 10px;
}

#deadlock-list li {
   display: inline;
   color: #005596;
   cursor: pointer;
   text-decoration: underline;
}

#fields li {
   list-style-image: url(image_files/package.gif);
   margin-left: 10px;
   vertical-align: middle;
}

#fields li li {
   list-style-image: url(image_files/class.gif);
   margin-left: 10px;
   vertical-align: middle;
}

#fields li li li {
   list-style-image: none;
   margin-left: 10px;
   vertical-align: middle;
}
