<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<!-- Android -->
	<extension point="org.eclipse.debug.core.launchDelegates">
		<launchDelegate
        	id="com.android.ide.eclipse.adt.internal.launch.FlashlightAndroidLaunchConfigurationDelegate"
        	type="com.android.ide.eclipse.adt.debug.LaunchConfigType"
        	delegate="com.android.ide.eclipse.adt.internal.launch.FlashlightAndroidLaunchConfigurationDelegate"
        	modes="flashlight">
		</launchDelegate>
		<launchDelegate
            id="com.android.ide.eclipse.adt.internal.launch.FlashlightAndroidJUnitLaunchConfigurationDelegate"
            type="com.android.ide.eclipse.adt.debug.LaunchConfigType"
            delegate="com.android.ide.eclipse.adt.internal.launch.junit.FlashlightAndroidJUnitLaunchConfigurationDelegate"
            modes="flashlight">
        </launchDelegate>
	</extension>
    <extension point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut
            label="Android Application"
            icon="/lib/images/android_app.gif"
            modes="flashlight"
            class="com.android.ide.eclipse.adt.internal.launch.FlashlightLaunchShortcut"
            id="com.android.ide.eclipse.adt.debug.launching.FlashlightLaunchShortcut">
            <contextualLaunch>
                <enablement>
                    <with variable="selection">
                        <count value="1" />
                        <iterate>
                            <and>
                                <test property="org.eclipse.jdt.launching.isContainer" />
                                <test
                                    property="org.eclipse.jdt.launching.hasProjectNature"
                                    args="com.android.ide.eclipse.adt.AndroidNature" />
                            </and>
                        </iterate>
                    </with>
                </enablement>
            </contextualLaunch>
            <perspective id="org.eclipse.jdt.ui.JavaPerspective" />
            <perspective id="org.eclipse.debug.ui.DebugPerspective" />
            <configurationType id="com.surelogic.flashlight.client.eclipse.launch.FlashlightAndroidLaunchConfigurationType">
            </configurationType>
            <description
                description="Runs an Android Application with Flashlight"
                mode="flashlight">
            </description>
        </shortcut>
    </extension>
    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			type="com.android.ide.eclipse.adt.debug.LaunchConfigType"
			class="com.android.ide.eclipse.adt.internal.launch.FlashlightAppTabGroup"
			id="com.android.ide.eclipse.adt.debug.FlashlightLaunchConfigTabGroup">
			<launchMode mode="flashlight"
				description="Run an Android application in Flashlight">
			</launchMode>
		</launchConfigurationTabGroup>
	</extension>
	<extension point="org.eclipse.ui.actionSets">
		<actionSet label="Flashlight Android ActionSet" visible="true"
			id="com.surelogic.flashlight.android.client.eclipse.workbenchActionSet">
			<menu id="com.surelogic.flashlight.client.eclipse.workbenchMenu"
				label="Flashlight" path="additions">
				<groupMarker name="client" />
				<separator name="android" />
				<separator name="jsure" />
				<separator name="service" />
				<separator name="license" />
			</menu>
			<action
				class="com.surelogic.flashlight.client.eclipse.actions.RunApkAction"
				id="com.surelogic.flashlight.client.eclipse.actions.RunApkAction"
				icon="platform:/plugin/com.surelogic.common/lib/images/fl_logo.gif"
				label="Flashlight Android APK..."
				menubarPath="com.surelogic.flashlight.client.eclipse.workbenchMenu/android"
				helpContextId="menu-launch-apk">
			</action>
		</actionSet>
	</extension>

</plugin>

